<div class="container">
    <h4>You are searching for <strong>{{q}}</strong></h4>
    {{#if results}}
    <div class="box row">
        {{#each results}}
            <a class="col-4" href="/detail/{{name}}/{{id}}/comics">
                <div class="holder pb-4 border">
                    <img class="round" src="{{thumbnail.path}}.{{thumbnail.extension}}" alt="">
                    <h5 class="m">{{name}}</h5>
                </div>
            </a>
        {{/each}}
    </div>
    {{else}}
    <p>No results found related to <strong><em>{{q}}</em></strong> !</p>
    {{/if}}
    <div class="row justify-content-center">
        <form action="/search">
            <input type="hidden" name="q" value="{{q}}">
            <button class="text-lg round-s bg-white m" type="submit" name="offset" value="{{prevOffset}}">Prev</button>
            <button class="text-lg round-s bg-white m" type="submit" name="offset" value="{{nextOffset}}">Next</button>
        </form>
    </div>
    <form action="/" method="GET">
        <button class="text-lg round-s bg-white m" type="submit">Go back!</button>
    </form>
</div>